@import "../../build/css/bootstrap.min.css";
@font-face { font-family: ProximaNova;  src: url(../fonts/proxima-nova-regular.otf); }
@font-face { font-family: ProximaNovaBold;  src: url(../fonts/proxima-nova-bold.otf); }
@font-face { font-family: Ubuntu;  src: url(../fonts/ubuntu-bold.ttf); }
header {
  padding-top: 28px;
  height: 830px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  background-image: url(../img/bg-header-after.png);
  background-position: center center;
  .nav-sections {
    max-width: 1200px;
    margin: 0 auto;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: ProximaNova;
    text-transform: uppercase;
    .nav-logo {
      width: 115px;
      float: left;
      font-size: 26px;
      line-height: 0.962;
      color: #fff;
      text-align: left;
      span {
        color: #ffd713;
      }
    }
    .nav-items {
      float: left;
      margin-top: inherit;
      margin-left: 33px;
      font-size: 16px;
      width: 758px;
      ul {
        display: flex;
        width: 100%;
        height: 40px;
        justify-content: space-between;
        float: right;
        list-style: none;
        line-height: 2.4;
        li {
          a {
            text-decoration: none;
            color: #fff;
            &:hover {
              color: #FCCE17;
            }
            &:active {
              color: darken(#FCCE17, 10%);
            }
          }
        }
      }
      .active {
        background-color: #FF1A3A;
        border-radius: 20px;
        padding: 0px 15px;
      }

    }
    .nav-phone {
      min-width: 200px;
      float: right;
      font-size: 16px;
      margin-top: 7px;
      &:before {
        content: '';
        border-radius: 50%;
        background-image: url(../img/icon-phone.svg);
        background-position: 6px 7px;
        background-repeat: no-repeat;
        background-color: #E450FF;
        box-shadow: 0px 10px 15px 0px rgba(48, 48, 49, 0.31);
        width: 35px;
        height: 35px;
        margin: -5px 7px 0px -19px;
        display: block;
        float: left;
      }
    }
  }
  .header-block {
    margin: 115px auto;
    max-width: 1170px;
    .header-text {
      height: 200px;
      margin-top: 0;
      background-image: url(../img/text-header.png);
      background-repeat: no-repeat;
      margin-bottom: 30px;
    }
    p {
      width: 400px;
      font-size: 24.413px;
      font-family: ProximaNova;
      color: #fff;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: 1px;
    }
  }
  .header-pay {

    margin-top: 45px;
    margin-left: 25px;
    width: 440px;
    height: 50px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
      opacity: 0.9;
    }
    &:active {
      opacity: 1;
    }
    .pay-button {
      &:before {
        content: '';
        height: 50px;
        width: 50px;
        display: block;
        background-color: #fff;
        border-radius: 50px;
        margin-left: -25px;
        position: absolute;
        background-image: url(../img/icon-pay.svg);
        background-position: 8px 10px;
        background-repeat: no-repeat;
      }
      font-size: 16px;
      font-family: Ubuntu;
      font-weight: bold;
      line-height: 3;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding-right: 25px;
      text-align: right;
      width: 230px;
      float: left;
      height: 100%;
      background-color: #ff1a3a;
      color: #fff;
      z-index: 1;
      position: relative;
      border-radius: 0px 50px 50px 0px;
    }
    .pay-bonus {
      font-size: 16px;
      font-family: Ubuntu;
      font-weight: bold;
      line-height: 1;
      text-transform: uppercase;
      margin-top: -50px;
      position: relative;
      padding-top: 9px;
      padding-left: 50px;
      float: right;
      width: 250px;
      text-align: left;
      height: 100%;
      background-color: #fff;
      color: #ff1a3a;
      z-index: 0;
      border-radius: 0px 50px 50px 0px;
    }
  }
  .pay-form {
    h2 {
      font-size: 26px;
      font-family: ProximaNova;
      font-weight: bold;
      letter-spacing: 3px;
      line-height: 1.2;
      width: 260px;
      text-align: left;
      color: #fff;
      margin-top: 47px;
      margin-bottom: 42px;
      text-transform: uppercase;
      margin-left: 48px;
      &:before {
        content: '';
        width: 45px;
        height: 35px;
        margin-left: -51px;
        margin-top: -8px;
        position: absolute;
        background-image: url(../img/icon-pay-white.svg);
        background-position: 8px 10px;
        background-repeat: no-repeat;
      }
    }
    min-height: 290px;
    background-color: #50c3ff;
    margin-top: -150px;
    z-index: 2;
    border-radius: 5px;
    color: #2e2e2e;
    font-size: 13px;
    font-family: ProximaNova;
    color: rgb(46, 46, 46);
    font-weight: bold;
    text-align: right;
    form {
      display: flex;
      justify-content: space-around;
      margin-left: -10px;
      margin-top: 0px;
    }
    //display: none;
    .pay-form-close {
      background-image: url(../img/x-letter.svg);
      background-size: 100%;
      position: absolute;
      right: 15px;
      top: 15px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      &:active {
        opacity: 0.8;
      }
    }
    select {
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url(../img/icon-dropdown.svg) 96% 55% no-repeat #fff;
      background-size: 10px;
      option {

      }
    }
    select, input {
      min-width: 170px;
      height: 55px;
      border-radius: 5px;
      border: none;
      padding: 0 80px 0 15px;
      margin: 0 15px;
      cursor: pointer;
    }

    #datepicker {
      padding: 0 25px 0 15px;
      &:focus {
        color: lighten(#000, 80%);
      }
    }
    .pay-form-submit {
      cursor: pointer;
      -webkit-appearance: none;
      border-radius: 23px;
      background-color: #FF1A3A;
      width: 230px;
      height: 50px;
      display: block;
      margin-right: 20px;
      margin-left: 15px;
      color: #fff;
      line-height: 3.2;
      padding-right: 20px;
      font-size: 16px;
      font-family: ProximaNova;
      text-transform: uppercase;
      letter-spacing: 1px;
      &:hover {
        opacity: 0.9;
      }
      &:active {
        opacity: 1;
      }
      &:before {
        content: '';
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 10px 15px 0px rgba(48, 48, 49, 0.2);
        width: 50px;
        height: 50px;
        background-image: url(../img/icon-block.svg);
        background-repeat: no-repeat;
        background-position: 15px 11px;
        position: absolute;
        margin-left: -66px;
      }
    }
    .form-description {
      text-align: left;
      width: auto;
      color: #fff;
      margin-left: -8px;
      margin-top: 17px;
      letter-spacing: .5px;
      span:nth-child(2) {
        margin-left: -15px;
      }
      span:nth-child(3), span:nth-child(4) {
        margin-left: 10px;
      }
    }
  }
}